.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .navbar-title {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  
  .user-icon {
    width: 24px;
    height: 24px;
    background-image: url(../../img/NavBar/userIcon.png);
    background-size: cover;
    background-position: center;
    margin-right: 10px;
  }
  
  .burger-icon {
    width: 24px;
    height: 24px;
    background-image: url(../../img/NavBar/burgerIcon.png);
    background-size: cover;
    background-position: center;
  }
  