.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom,#d8d8e3, transparent);
    padding: 30px;
    z-index: 10000;
    color:rgb(12, 12, 46);
  }
  
  .navbar-left {
    display: flex;
    align-items: center;

  }
  
  .navbar-title {
    margin: 0;
    font-size: 40px;
    font-weight: bold;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  
  .user-icon {
    width: 24px;
    height: 24px;
    background-image: url(../../img/NavBar/userIcon.png);
    background-size: cover;
    background-position: center;
    margin-right: 10px;
  }
  
  .burger-icon {
    width: 24px;
    height: 24px;
    background-image: url(../../img/NavBar/burgerIcon.png);
    background-size: cover;
    background-position: center;
  }
  