/* Resources: https://github.com/Adelinewg/ParallaxScollingEffect/blob/main/style.css */
.parallax
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.parallax::after{
    content:'';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#1c0522, transparent);
    z-index: 1000;
}

.parallax img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    pointer-events: none;
}
section img#sprite
{
    position:absolute;
    /* mix-blend-mode: screen; */
    width: 150px;
    height: 150px;
    left: 45%;
    top: 25%;
}

section img#mountains_front
{
    z-index: 10;
}

#text
{
    position: absolute;
    right: -350px;
    color:#fff;
    white-space: nowrap;
    font-size: 5vw;
    z-index: 9;
}
