html, body {
  margin: 0;
  padding: 0;
  height:100%;
  width:100%;
}

.parallax{
    /* The image used */
    background-image: url("../img/maze-image.png");
    min-height: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


